[submodule "bash/bash-common"]
	path = bash/bash-common
	url = https://github.com/jos4uke/bash-common.git
[submodule "R/contigLink"]
	path = R/contigLink
	url = https://github.com/jos4uke/contigLink.git
    branch = unstable-branch
[submodule "bash/mitology-pipeline"]
	path = bash/mitology-pipeline
	url = https://github.com/jos4uke/mitology-pipeline.git
