[submodule "bash/mitology"]
	path = bash/mitology
	url = https://github.com/jos4uke/mitology.git
[submodule "bash/bash-common"]
	path = bash/bash-common
	url = https://github.com/jos4uke/bash-common.git
[submodule "R/contigLink"]
	path = R/contigLink
	url = https://github.com/jos4uke/contigLink.git
